body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

.top-section h1 {
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color:white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.upload-section {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-upload-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-upload-btn:hover {
    background-color: #0056b3;
}
#captureBtn {
    display: block;
    margin-top: 10px;
    padding-top: 10px;;
    padding: 20px 20px;
    background-color: #28a745; /* Orange color */
    color: #fff;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#captureBtn:hover {
    background-color: #1bd40a; /* Lighter shade of orange */
}

#generateBtn{
    display: block;
    margin-top: 10px;
    padding-top: 10px;;
    padding: 20px 20px;
    background-color: #28a745; /* Orange color */
    color: #fff;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#audioBtn {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#generateBtn:hover,
#audioBtn:hover {
    background-color: #218838;
}

.image-section {
    margin-bottom: 20px;
}

#imagePreview {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

#imagePreview img {
    width: 100%;
    height: auto;
}

.description-section {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.description-section h2 {
    margin-top: 0;
}

.description-section p {
    color: #555;
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 90%;
    }
}
