<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Description Generator</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="up-container">
        <div class="top-section">
            <h1>Image Description Generator</h1>
        </div>
    </div>
    <div class="container">
        <div class="upload-section">
            <input type="file" id="imageUpload" accept="image/*">
            <button id="captureBtn">Capture from Camera</button>
            <div class="width-box"></div>
            <button id="generateBtn">Generate Description</button>
            <!-- {% if caption!='' %}
            <h1>{{caption}}</h1>
            {% endif %} -->
        </div>

        <div class="image-section">
            <h2>Uploaded Image:</h2>
            <div id="imagePreview"></div>
        </div>
        <div class="description-section">
            <h2>Generated Description:</h2>
            <p id="generatedText">Image description will appear here.</p>
            <button id="audioBtn">Play Description</button>
        </div>
    </div>
    <script src="../static/script.js"></script>
</body>
</html>

